<div class="input-group">
    <label>
        <input type="checkbox" value="1" ng-model="_sc.data.options.settings.auto_slideshow"> Auto Slideshow
    </label>
</div>
<div ng-if="_sc.data.options.settings.auto_slideshow" class="input-group">
    <label>
        <input type="checkbox" value="1" ng-model="_sc.data.options.settings.stop_on_hover"> Stop On Hover
    </label>
</div>
<div ng-if="_sc.data.options.settings.auto_slideshow" class="input-group">
    <label>Delay ( miliseconds )</label>
    <input type="text" ng-model="_sc.data.options.settings.delay">
</div>








